<template>
  <div id="quiz" class="custom-container d-flex flex-column">
    <div v-if="!question" class="spinner-border text-primary" role="status">
      <span class="sr-only">Загрузка...</span>
    </div>
    <div v-else class="mb-3">
      <question :question="question" v-on:select-answer="processSelectAnswer"/>
    </div>
    <button class="btn btn-success" :disabled="!selectedAnswerGuid" @click="processClick">Ответить</button>
  </div>
</template>

<script>
import Question from '@/components/Question.vue'
import QuestionService from '@/service/QuestionsService'
import UserService from '@/service/UserService'

export default {
  name: 'Quiz',
  components: {
    Question
  },
  data () {
    return {
      question: null,
      userGuid: null,
      selectedAnswerGuid: null
    }
  },
  async mounted () {
    this.userGuid = UserService.getGuid()
    if (this.userGuid != null) {
      const result = await QuestionService.getQuestion(this.userGuid)
      if (result.hasQuestion) {
        this.question = result.question
      } else {
        await this.$router.push('/result')
      }
    }
  },
  methods: {
    async processClick () {
      const result = await QuestionService.sendAnswer(this.userGuid, this.question.guid, this.selectedAnswerGuid)
      this.selectedAnswerGuid = null
      if (result.hasQuestion) {
        this.question = result.question
      } else {
        await this.$router.push('/result')
      }
    },
    processSelectAnswer (guid) {
      this.selectedAnswerGuid = guid
    }
  }
}
</script>
