<template>
  <div id="register-form" class="custom-container d-flex flex-column">
    <div class="mb-2">
      <div v-if="invalid" class="alert alert-danger">Некорректное имя, пожалуйста введите другое</div>
      <label class="w-100">
        <input class="form-control"
               v-model="username"
               placeholder="Введите ваше имя"
               v-bind:class="{ 'is-invalid': invalid }"
        />
      </label>
    </div>
    <button class="btn btn-success" @click="processRegister">Вперед!</button>
  </div>
</template>

<script>
import UserService from '@/service/UserService'

export default {
  name: 'Registration',
  data () {
    return {
      username: null,
      invalid: false
    }
  },
  mounted () {
    if (UserService.getGuid() != null) {
      this.$router.push('/quiz')
    }
  },
  methods: {
    async processRegister () {
      if (this.username) {
        if (await UserService.createUser(this.username)) {
          await this.$router.push('/quiz')
        }
      } else {
        this.invalid = true
      }
    }
  }
}
</script>
