<template>
  <div id="results" class="custom-container d-flex flex-column">
    <div class="text-center">
      <h2>Результаты</h2>
    </div>
    <div v-if="result" class="d-flex flex-column">
      <div class="jumbotron jumbotron-fluid alert-info">
        <div class="container">
          <h4>Вы ответили на {{result.score}} из {{result.total}} вопросов верно!</h4>
          <p class="lead">{{result.message}}</p>
        </div>
      </div>
      <result-item
        v-for="answer in result.answers"
        :result="answer"
        :key="answer.questionText"
      />
      <button class="btn btn-danger mt-3 mb-3" @click="processReset">Заново</button>
    </div>
    <div v-else class="spinner-border text-primary" role="status">
      <span class="sr-only">Загрузка...</span>
    </div>
  </div>
</template>

<script>
import ResultItem from '@/components/ResultItem'
import ResultService from '@/service/ResultsService'
import UserService from '@/service/UserService'

export default {
  name: 'Result',
  components: {
    ResultItem
  },
  data () {
    return {
      userGuid: null,
      result: null
    }
  },
  async mounted () {
    this.userGuid = await UserService.getGuid()
    this.result = await ResultService.getResults(this.userGuid)
  },
  methods: {
    async processReset () {
      await UserService.removeUser(this.userGuid)
      await this.$router.push('/')
    }
  }
}
</script>
