<template>
  <div>
    <div>
      <h2>{{question.title}}</h2>
    </div>
    <ul class="list-group">
      <li v-for="answer in question.answers"
          :key="answer.guid"
          class="btn list-group-item list-group-item-action"
          v-bind:class="{ active: answer.guid === selected }"
          @click="() => processSelect(answer.guid)"
      >
        {{answer.text}}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Question',
  props: ['question'],
  data () {
    return {
      selected: null
    }
  },
  methods: {
    processSelect (guid) {
      this.selected = guid
      this.$emit('select-answer', guid)
    }
  }
}
</script>
