<template>
  <div>
    <div>
      <h3 v-bind:class="{ 'text-success': result.rightAnswer, 'text-danger': !result.rightAnswer}">
        {{result.questionText}}
      </h3>
    </div>
    <div v-if="result.rightAnswer">
      <div class="alert alert-success">Ваш ответ верный: {{result.userAnswerText}}</div>
    </div>
    <div v-else>
      <div class="alert alert-danger">Ваш ответ: {{result.userAnswerText}}</div>
      <div class="alert alert-success">Правильный ответ: {{result.rightAnswerText}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ResultItem',
  props: ['result']
}
</script>
