<template>
  <div id="app">
    <div id="page-header">
      <h1>Docker Quiz</h1>
    </div>
    <div id="page-content">
      <router-view/>
    </div>
    <notifications group="global"/>
  </div>
</template>

<script>
import UserService from '@/service/UserService'

export default {
  name: 'App',
  data () {
    return {
      userGuid: null
    }
  },
  async created () {
    this.userGuid = await UserService.getGuid()
    if (this.userGuid == null && this.$router.currentRoute.path !== '/') {
      await this.$router.push('/')
    }
  }
}
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900");

* {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

#app h1 {
  font-weight: 300;
}

#app {
  width: 50%;
  min-width: 600px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

#page-header {
  text-align: center;
  background-color: #0DB7ED;
  color: white;
  margin-bottom: 15px;
  padding: 10px 0 0 0;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

#page-content {
  display: flex;
  justify-content: center;
  height: 250px;
}

#page-content .custom-container {
  width: 60%;
}
</style>
